@charset "utf-8";



body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #612674;
}
h1, h2, h3, h4, h5, h6{
    font-family: "oxygen", sans-serif;
    color: #612674;
}
button{
    padding: 0.75em 2.5em;
    background-color: #58c4c4;
    border: none;
    border-radius: 5px;
    color: white;
}
button:hover{
    background-color: #37a0a0;
    transition-duration: 2s;
}
.clearfix:after{
    content: ' ';
    display: block;
    clear: both;
}
.first-header{
    text-align: center;
}
.first-header-nav{
    text-align: center;
    background-color: #612674;
    margin: 1.2em 0;
}
.first-header-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.first-header-list a{
    color: white;
    padding: 16px;
    display: block;
}
.first-header-list a:hover{
    background-color: rgba(133, 107, 180, 0.151);
}
.main-header{
    margin-bottom: 3em;
}
.image{
    height: 5em;
    text-align: center;
}
.image img{
    max-width: 100%;
    max-height: 100%;
    display: none;
}
.main-header h1{
    text-align: center;
    font-size: 1.375em; /* 22/16 */
    margin: 1.375em;
}
.first-main-h2{
    text-align: center;
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5em;
}
.main-section{
    background-color: #e9e8e8;
}
.main-section span{
    font-size: 3em; 
    color: #612674;
}
.first-main-buttom{
    display: inline-block;
    padding: 0.75em 2.5em;
    background-color: #58c4c4;
    border: none;
    border-radius: 5px;
    color: white;
}
.first-main-buttom:hover{
    background-color: #37a0a0;
    transition-duration: 2s;
}
.main-article-first{
    text-align: center;
}
.main-article-first h2{
    text-transform: uppercase;
}
.main-article-first p{
    margin-bottom: 4em;
    color: #222;
}
.second-section{
    padding: 2em;
}
.main-article-second p{
    margin-bottom: 4em;
    line-height: 1.2em;
}
.main-article-second h3{
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.first-footer{
    text-align: center;
    background-color: #25303e;
    color: #83969f;
}
.first-footer h4{
    color: #83969f;
}
.first-footer-list{
    list-style-type: none;
    background-color: #303d4c;
    margin: 0;
    padding: 0.7em 0;
}
.first-footer-list li{
    display: inline-block;
    font-size: 1.5em;
    padding: 0 0.2em;
}
.first-footer-list a{
    color: rgb(112, 111, 111);
    border: 1px solid black;
    border: none;
    padding: 0.22em;
    border-radius: 100%;
    background-color: #25303e;
}

@media screen and (min-width: 48.75em){
    .first-header img{
        float: left;
    }
    .first-header-nav{
        float: right;
        background-color: transparent;
        margin: 0.8em 0 0 0;
        padding: 0;
    }
    .first-header-nav a{
        color: #612674;
    }
    .first-header-nav li{
        display: inline-block;
    }
    .main-header{
        background-color: #521a66;
    }
    .main-header img{
        display: block;
    }
    .main-header h1{
        color: white;
    }
    .main-header h2{
        color: white;
    }
    .main-article-first{
        width: 44%;
        margin: 3%;
        float: left;
    }
    .second-buttom{
        margin-left: 75%;
    }
}

@media screen and (min-width: 62.5em){

    .main-header{
        background-image: url(../images/bg_topo_1198x670.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 17em;
        padding-top: 12em;
    }
}   

@media screen and (min-width: 74em){

    .main-header{
        background-image: url(../images/bg_topo_1600x1374.jpg);
        background-position: top;
        background-size: cover;
        height: 24em;
        padding-top: 25em;
    }
    .main-header h1{
        font-size: 1.5em;
    }
    .main-header h2{
        font-size: 1.1em;
    }
    .main-article-first{
        width: 20%;
        margin-left: 2%;
    }
    .main-article-second{
        float: left;
        width: 45%;
        margin-left: 2.5%;
    }
    .second-buttom{
        margin-left: 0;
    }
}

    

